<div class="flex flex-1 flex-col h-auto items-center">
  <div
    class="bg-grey-light border-b border-2 h-full lg:w-1/2 flex flex-col lg:flex-row shadow-lg py-2 lg:py-0"
  >
    {{yield}}
  </div>
</div>