@import 'tailwind';
@import 'fonts';

@import './index';
@import './components/tt-navbar';

html {
  body {
    a, a:hover {
      color: unset;
      text-decoration: none;
      text-decoration-color: unset
    }
  }
}
