@import 'tailwind';
@import 'fonts';

@import './index';
@import './home';
@import './components/tt-navbar';

html {
  body {
    a, a:hover {
      color: unset;
      text-decoration: none;
      text-decoration-color: unset
    }
  }
}

.bg-image {
  background: url('/assets/images/handshake.png') grey;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}