@import 'tailwind';
@import 'fonts';

@import './index';

html {
  body {
    a, a:hover {
      text-decoration: none;
      color: black;
    }
  }
}

div#application {
  background-color: white;
  display: grid;
  height: 100vh;
}
