<div id="about" class="bg-image flex flex-1">
  <TtCenterPage>
    <div class="flex flex-col items-center">
      <div class="flex">
        <img alt="Shelly J. Till" src="/assets/images/shellypic.png">
      </div>
      <div class="p-2 text-center">
        <span>Shelly J. Till</span>
      </div>
    </div>
    <div class="flex-1 pr-6 py-4 text-justify">
      <div class="">
        <ul class="about-list">
          <li>
            IRS Registered Tax Return Preparer listed in
            <a
              class="text-blue-darker"
              href="https://irs.treasury.gov/rpo/rpo.jsf"
              rel="noopener"
              target="_blank"
            >
              <em>
                Directory of Federal Tax Return Preparers with Credentials and
                Select Qualifications
              </em>
            </a>
          </li>
          <li>IRS PTIN holder</li>
          <li>
            2018 Filing Season participant with the MN Revenue Volunteer Income
            Tax Assistance and Tax Counseling for the Elderly programs (VITA/TCE)
          </li>
          <li>Certificate of Taxation graduate, University of MN - Crookston</li>
          <li>Accounting major, University of MN - Crookston</li>
          <li>Finance minor, University of MN - Crookston</li>
          <li>CRLA-Certified tutor, University of MN - Crookston</li>
          <li>Completing season two preparing federal, state, and MN property tax returns</li>
          <li>
            Specializing in tax preparation for daycare providers and military
            personnel, including the Armed Forces, Reserve, and National Guard
          </li>
          <li>Full-time accountant</li>
        </ul>
      </div>
    </div>
  </TtCenterPage>
</div>