<div id="contact" class="bg-image flex-1 flex flex-col md:items-center">
  <div class="flex-1 flex md:items-center md:w-1/2">
    <div class="w-full max-w-s">
      <TtContactForm
        onsubmit={{action "doContact"}}
        @availableRegions={{availableRegions}}
        @availableYears={{availableYears}}
        @model={{model}}
      >
        Contact Us
      </TtContactForm>
    </div>
  </div>
</div>