<div class='flex flex-row' id='index'>
  <div class='flex-1'></div>
  <div class='flex-1 flex flex-col'>
    <div class='flex-1'></div>
    <div class='flex-grow flex justify-center'>
      {{#link-to 'home' class='self-center flex flex-col flex-grow'}}
        <h1 class='title-font text-5xl self-center'>TILL TAX</h1>
        <h3 class='self-center subtitle-font italic text-2xl'>Accounting & Financial Services LLC</h3>
        <img alt='click to enter' class='flex-1' src='/assets/images/logo.png'/>
      {{/link-to}}
    </div>
    <div class='flex-1'></div>
  </div>
  <div class='flex-1'></div>
</div>