<div id="thanks" class="bg-image flex flex-1">
  <TtCenterPage>
    <div class="flex flex-col h-48 p-8">
      <div>
        <p class="pt-3">
          Thank you for contacting TillTax.
          <br>
          <br>
          Please check your inbox for a confirmation email.
          <br>
          <br>
          We will contact you shortly.
        </p>
      </div>
    </div>
  </TtCenterPage>
</div>
